{% extends "base_page.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/styles/detail_style.css">
{% endblock %}


{% block contents %}
<div class="character-interface">
    <div class="inventory-list-header">
        <span class="item-name">ITEM NAME</span>
        <span class="item-type">ITEM TYPE</span>
    </div>
    <div class="inventory-container">
        <ul class="inventory-list">
        {% for item in template['_item_list'] %}
            <li class="inventory-list-item">
                <span class="item-name">{{item['item_name']}}</span>
                <span class="item-type">{{item['item_type']}}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="skill-container">
        <h4 style="text-align: center; margin: 5px 0; color: #ccc;">SKILL MANAGEMENT LIST</h4>
        <ul class="skill-list">
            {% for skill in template['_skill_list'] %}
                <li class="skill-card">
                    <p class="skill-name">{{skill['skill_title']}}</p>
                    <p class="skill-level">{{skill['skill_level']}}LV</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="stat-container">
        <img class="stat-float stat-img" src="../static/images/character{{ template['_idx'] + 1}}.png" alt="">
        <div class="stat-float w150">
            <span class="stat-title">ACC: {{template['_acc']}}</span>
            <span class="stat-value"></span>
        </div>
        <div class="stat-float w150">
            <span class="stat-title">NAME: {{template['_name']}}</span>
            <span class="stat-value"></span>
        </div>
        <div class="stat-float w150">
            <span class="stat-title">JOB: {{template['_job']}}</span>
            <span class="stat-value"></span>
        </div>
        <div class="stat-float w150">
            <span class="stat-title">LV: {{template['_level']}}</span>
            <span class="stat-value"></span>
        </div>
        <div class="stat-float w150">
            <span class="stat-title">STR: {{template['_str']}}</span>
            <span class="stat-value"></span>
        </div>
        <div class="stat-float w150">
            <span class="stat-title">DEC: {{template['_dec']}}</span>
            <span class="stat-value"></span>
        </div>
        <div class="stat-float w150">
            <span class="stat-title">INT: {{template['_int']}}</span>
            <span class="stat-value"></span>
        </div>
        <div class="stat-float w150">
            <span class="stat-title">LUK: {{template['_luk']}}</span>
            <span class="stat-value"></span>
        </div>
        <div class="stat-float w300">
            <span class="stat-title">HP </span>
            <span class="stat-progress">
                <progress max="{{template['_hp']}}" value="{{template['_hp']}}"></progress>
            </span>
            <span class="stat-value">{{template['_hp']}}</span>
        </div>
        <div class="stat-float w300">
            <span class="stat-title">MP</span>
            <span class="stat-progress">
                <progress max="{{template['_mp']}}" value="{{template['_mp']}}"></progress>
                <span class="stat-value">{{template['_mp']}}</span>
            </span>
        </div>
    </div>
    
    
</div>

{% endblock %}


{% block scripts %}
{% endblock %}