{% extends "base_page.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/styles/login_style.css">
{% endblock %}

{% block contents %}
<div class="login">
	<h1>Login</h1>
    <form method="POST" action="/login">
    	<input type="text" name="ID" placeholder="Username" required="required" />
        <input type="password" name="PASSWORD" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}