{% extends "base_page.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/styles/login_style.css">
{% endblock %}

{% block contents %}
<div class="login">
	<h1>Sign Up</h1>
    <form method="POST" action="/signup">
        <input type="text" name="NAME" placeholder="Name" required="required" />
    	<input type="text" name="ID" placeholder="Username" required="required" />
        <input type="text" name="EMAIL" placeholder="Email" required="required" />
        <input type="password" name="PASSWORD" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Sign up now.</button>
    </form>
    <a href="/login">Log in</a>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}